<nav project-menu class="project-menu"></nav>

<div class="data-container" ng-show="data.loaded">
    <header class="data-title">
        <p>Allocation map for project "{{data.project.name}}"</p>
    </header>

    <article ng-if="data.config.isParked == 0">
        <header class="data-header">
            <ul>
                <li class="expand-button-header">&#10133;</li>
                <!--<li class="project-name"><p>Project Name</p></li>-->
                <li class="title"><p>Test Case Title</p></li>
                <li class="datetime"><p>Date</p></li>
                <li class="username"><p>User</p></li>
                <li class="status"><p>Status</p></li>
            </ul>
        </header>
        <section class="test-cases" ng-repeat="testCase in mapData.testCases">
            <ul>
                <li class="expand-button-section" expand-test-case-buttons></li>
                <!--<li class="project-name-body"><p>{{data.project.name}}</p></li>-->
                <li class="title-body">
                    <p ng-if="testCase.deleted == 1" style="text-decoration: line-through;">{{testCase.testCaseTitle}}</p>
                    <p ng-if="testCase.deleted == 0">{{testCase.testCaseTitle}}</p>
                </li>
                <li class="datetime" date-change></li>
                <li class="username" user-change></li>
                <li class="status" ng-class="testCase.isFinal == 1 ? 'final' : 'non-final'" status-change></li>
            </ul>
            <div class="events"
                 ng-if="testCase.expanded && testCase.events.length > 0"
                 test-case-events></div>
        </section>
    </article>

    <article ng-if="data.config.isParked == 1">
        <p style="text-align:center;">
            Project execution is stopped. See days allocation page to resume execution or setup page to reset plan.
        </p>
    </article>
</div>