<ul class="list">
    <li class="item "><a class="button-big" ng-href="#/projects/{{data.project.id}}/statistics">Statistics</a></li>
    <li class="item"><a class="button-big" ng-href="#/projects/{{data.project.id}}/allocationMap">Allocation Map</a></li>
    <li class="item"><a class="button-big" ng-href="#/projects/{{data.project.id}}/daysAllocation">Days Allocation</a></li>
    <li class="item"><a class="button-big" ng-href="#/projects/{{data.project.id}}/setup">Setup</a></li>
    <li class="item" ng-if="authentication.isAdmin()"><a class="button-big" ng-href="#/users/load">Users Load</a></li>
</ul>