<form class="plan-extension-form" name="planExtensionForm" ng-if="data.config.isParked == 0">
    <h4>Plan extension</h4>
    <div>
        <span>Choose reasons for extending the plan</span>
        <p>
            <select class="bold bigger" ng-options="reason.description for reason in daysData.extReasons track by reason.id"
                    ng-model="daysData.selectedReason" required></select>
            <button class="button-medium" ng-click="addReason(daysData.selectedReason)">Add</button>
        </p>
    </div>

    <div ng-if="daysData.extensionReasons.length">
        <p ng-repeat="reason in daysData.extensionReasons track by $index" ng-if="reason">
            <span class="bold separated">{{reason.description}}</span>
                <span>
                    <input class="bold bigger separated" type="number" placeholder="%" min="1" max="100" required
                           ng-model="daysData.extensionReasons[reason.id].percentage"
                           ng-change="calculateReasonsDuration()">
                </span>
            <span>Duration</span>
            <span class="bold bigger">
                <span ng-if="reason.duration">{{reason.duration}}</span>
                <span ng-if="!reason.duration">0</span>
            </span>
            <span>days</span>
            <button class="button-medium" ng-click="removeReason(reason)">Remove</button>
        </p>
    </div>

    <div>
        <span>Extension duration</span>
        <input class="bold bigger" type="number" placeholder="days" min="1" required
               ng-model="daysData.extensionDuration"
               ng-change="calculateReasonsDuration()">
        <span ng-if="daysData.extensionDuration && daysData.canExtend">
            <button class="button-medium" ng-click="extendPlan(daysData.extensionDuration)">Confirm</button>
        </span>
    </div>
</form>