<form name="planExtensionForm" ng-if="data.config.isParked == 0">
    <hr>
    <p style="color:blue;">Plan extension</p>
    <div>
        <span>Choose reasons for extending the plan</span>
        <div>
            <select ng-options="reason.description for reason in daysData.extReasons track by reason.id"
                    ng-model="daysData.selectedReason" required></select>
            <button ng-click="addReason(daysData.selectedReason)">Add</button>
        </div>
    </div>

    <div ng-if="daysData.extensionReasons.length">
        <div ng-repeat="reason in daysData.extensionReasons track by $index">
                <span ng-if="reason">
                    <span>{{reason.description}}</span>
                    <span>
                        <input type="number" placeholder="%" min="1" max="100" required
                               ng-model="daysData.extensionReasons[reason.id].percentage"
                               ng-change="calculateReasonsDuration()">
                    </span>
                    <span ng-if="reason.duration">Duration: {{reason.duration}}</span>
                    <span ng-if="!reason.duration">Duration: 0</span>
                    <span><button ng-click="removeReason(reason)">Remove</button></span>
                </span>
        </div>
    </div>

    <div>
        <span>Extension duration</span>
        <input type="number" placeholder="days" min="1" required
               ng-model="daysData.extensionDuration"
               ng-change="calculateReasonsDuration()">
    </div>

    <div ng-if="daysData.extensionDuration && daysData.canExtend">
        <button ng-click="extendPlan(daysData.extensionDuration)">Confirm</button>
    </div>
</form>