<div class="project-days-list">
    <div class="days-list-day" ng-repeat="day in daysData.allocatedDays" ng-class="{'font-grey': day.period == 1}">

        <!-- Day deletion -->
        <span ng-if="daysData.deleteOptions[day.dayId]">
            <button class="separated button-medium" ng-click="deleteDay(day)">X</button>
        </span>

        <span class="separated">Day <span class="font-bold">{{day.dayIndex}}</span></span>

        <!-- Change day date -->
        <span ng-if="day.period == 1"><span class="font-bold">{{day.dayDate}}</span></span>
        <span ng-if="day.period > 1">
            <span ng-if="!day.availableDates || day.availableDates.length == 0">
                <button class="test-case-button" ng-click="getAvailableDays(day)">&#9776;</button>
                <span class="separated font-bold">{{day.dayDate}}</span>
            </span>
            <span ng-if="day.availableDates.length > 0">
                <button class="test-case-button" ng-click="day.availableDates.length = 0">&#x2718;</button>
                <button class="test-case-button font-green" ng-if="day.dateToChange" ng-click="changeDayDate(day)">&#x2714;</button>
                <select class="date-change-choice separated font-bold"
                        ng-options="date for date in day.availableDates"
                        ng-model="day.dateToChange" required></select>
            </span>
        </span>

        <!-- Period 1 -->
        <span ng-if="day.period == 1"> Executed <span class="font-bold">{{day.executed}}</span>, Expected
            <span class="font-bold" ng-if="day.blocked == 0">{{day.expected}}</span>
            <span class="font-bold" ng-if="day.blocked > 0">{{day.expected}} - {{day.blocked}} (blocked) = {{day.expected - day.blocked}}</span>
        </span>

        <!-- Period 2 -->
        <span ng-if="day.period == 2">
            <span>Allocated <span class="font-bold">{{day.allocated}}</span>,</span>
            <span>Executed <span class="font-bold">{{day.executed}}</span>,</span>
            <span>Passed <span class="font-bold">{{day.passed}}</span>,</span>
            <span>Non-Final <span class="font-bold">{{day.nonFinal}}</span>,</span>
            <span>
                <span>Expected</span>
                <span class="font-bold" ng-if="day.blocked == 0">{{day.expected}}</span>
                <span ng-if="day.blocked > 0">{{day.expected}} - {{day.blocked}} (blocked) =
                    <span class="font-bold">{{day.expected - day.blocked}}</span>
                </span>
            </span>
        </span>

        <!-- Period 3 -->
        <span ng-if="day.period == 3">
            <span>Allocated <span class="font-bold">{{day.allocated}}</span>, </span>
            <span>Expected <span class="font-bold">{{day.expected}}</span></span>
        </span>

        <!-- Alerts -->
        <span ng-class="{'alert-orange': daysData.alerts[day.dayId] == 1,'alert-green': daysData.alerts[day.dayId] == 2}"
              ng-if="daysData.alerts[day.dayId]">&#9888;</span>
        <span ng-if="day.extension">Extension ( {{day.extension}} )</span>
        <span ng-if="day.reset">Configuration Reset ( {{day.reset}} )</span>
        <div class="execution-stopped days-list-day font-bold" ng-if="day.park"><span>Stopped for {{day.park}}</span></div>
    </div>
</div>