<div ng-if="!data.userChanges[testCase.testCaseId]">
    <span class="text-left">{{testCase.username}}</span>
    <button class="text-right options"
            ng-if="testCase.canEdit == 1 && testCase.isFinal == 0 && testCase.externalStatus == 2"
            ng-click="prepareUsersForAllocated(testCase.testCaseId, testCase.userId)">&#9776;</button>
    <button class="text-right options"
            ng-if="testCase.externalStatus == 1"
            ng-click="prepareUsersForUnallocated(testCase.testCaseId)">&#9776;</button>
</div>

<div ng-if="data.userChanges[testCase.testCaseId]">
    <select class="text-left"
            ng-options="user.username for user in data.users track by user.id"
            ng-model="data.userChanges[testCase.testCaseId]"></select>
    <div>
        <button class="text-right no-symbol" ng-click="data.userChanges[testCase.testCaseId] = false">&#x2718;</button>
        <button class="text-right yes-symbol" ng-click="changeTestCaseUser(testCase)">&#x2714;</button>
    </div>
</div>