<form class="setup-finalize-form" name="finalizeForm">
    <div ng-if="!setupData.existingPlan">
        <div ng-if="usersForm.$valid && !setupData.emptyUsersArray">
            <button class="button-big" ng-click="saveSetup()">Confirm</button>
        </div>
        <div ng-if="!usersForm.$valid || setupData.emptyUsersArray">
            <button class="button-big disabled" disabled>Invalid data</button>
        </div>
    </div>

    <div ng-if="setupData.existingPlan">
        <span ng-if="setupData.unAllocatedTestCasesCount + setupData.expiredNonFinalTestCasesCount > 0 && data.config.isParked == 0">
            <button class="button-big" ng-click="saveSetup()">Allocate Test Cases</button>
        </span>
        <span ng-if="!setupData.planResetPrompt">
            <span class="font-bold">Configuration Reset</span>
            <button class="button-big" ng-click="setupData.planResetPrompt = true">Reset</button>
        </span>
        <div ng-if="setupData.planResetPrompt">

            <p>
                <span>General reason&nbsp;</span>
                <select class="extension-reason font-bold" required
                        ng-options="reason.description for reason in setupData.reasons track by reason.id"
                        ng-model="setupData.selectedReason"></select>
            </p>
            <p>
                <span>&nbsp;Description&nbsp;</span>
                <input class="extension-description font-bold" type="text" ng-model="setupData.selectedReason.explanation">
            </p>

            <div class="plan-reset-prompt">
                <button class="test-case-button" ng-click="clearResetReasonChoice()">&#x2718;</button>
                <button class="test-case-button font-green"
                        ng-if="setupData.selectedReason.id && setupData.selectedReason.explanation.length > 5"
                        ng-click="resetSetup()">&#x2714;</button>
            </div>
        </div>
    </div>
</form>