<article class="setup-info">
    <p>Project unallocated test cases count <span class="font-bold">{{setupData.unAllocatedTestCasesCount}}</span></p>
    <section ng-if="authentication.isAdmin()">
        <p>Test case per day tolerance
            <span class="font-bold" ng-if="setupData.acceptableTCPDDelta">{{setupData.acceptableTCPDDelta}}</span>
            <span class="font-bold" ng-if="!setupData.acceptableTCPDDelta">0</span>
        </p>
        <p>Duration tolerance <span class="font-bold">{{setupData.acceptableSuggestedDurationDelta}}</span> days</p>
        <p>Executions per day based on given capacity <span class="font-bold">{{setupData.expectedTCPD}}</span></p>
        <p>Suggested duration based on given capacity <span class="font-bold">{{setupData.suggestedDuration}}</span> days</p>
    </section>
</article>