<article class="setup-info">
    <p>Project unallocated test cases count {{setupData.unAllocatedTestCasesCount}}</p>
    <section ng-if="authentication.isAdmin()">
        <p>Test case per day tollerance {{setupData.acceptableTCPDDelta}}</p>
        <p>Duration tollerance {{setupData.acceptableSuggestedDurationDelta}} days</p>
        <p>Executions per day based on given capacity {{setupData.expectedTCPD}}</p>
        <p>Suggested duration based on given capacity {{setupData.suggestedDuration}} days</p>
    </section>
</article>