.allocation-map-page-container {
    width: 95%;
    margin: 0 auto;
}

.test-cases-header, .test-case-body {
    text-align: center;
}

.test-cases-header > li {
    display: inline-block;
    padding: .5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ED1C24;
    text-align: center;
    background: none;
    vertical-align: middle;
    font-weight: bold;
}

.test-case-body > li {
    display: inline-block;
    padding: .2rem 0;
    text-align: left;
    vertical-align: middle;
}

.test-case-body > li.test-case-body-button {
    text-align: center;
}

.test-cases-header > li.test-cases-header-empty {
    visibility: hidden;
}

.test-cases-header-empty, .test-case-body-button {
    width: 3%;
}

.test-cases-header-titles, .test-case-body-titles {
    width: 33%;
}

.test-cases-header-date, .test-case-body-date {
    width: 19%;
}

.test-cases-header-user, .test-case-body-user {
    width: 19%;
}

.test-cases-header-status, .test-case-body-status {
    width: 19%;
}

.line-through {
    text-decoration: line-through;
}

.centered {
    text-align: center;
}