.days-allocation-page-container {
    width: 85%;
    margin: 0 auto;
}

.project-days-list, .plan-extension-form, .park-form {
    display: inline-block;
}

.plan-extension-form, .park-form {
    padding: 0 1%;
    vertical-align: top;
}

.project-days-list {
    width: 98%;
    border-bottom: 1px solid #aaa;
    padding: 0 1% 1.5% 1%;
    margin-bottom: 1.5%;
}

.plan-extension-form {
    width: 47.5%;
    border-right: 1px solid #aaa;
}

.park-form {
    width: 47.5%;
}

.config-override {
    padding-top: 2%;
    margin-top: 2%;
    border-top: 1px solid #aaa;
    text-align: center;
}

.days-list-day {
    height: 1.5rem;
}

.separated {
    margin-right: .5%;
}

.alert-orange {
    color: #FF6600;
    margin-left: .3rem;
}

.alert-green {
    color: #66CD00;
    margin-left: .3rem;
}