.button-big, .button-medium, .button-small {
    border: none;
    border-radius: 1rem/1rem;
    color: #fff;
    background: #ED1C24;
    font-weight: bold;
    transition: .3s text;
}

.button-big {
    padding: .4rem .6rem;
    font-size: .8rem;
}

.button-medium {
    padding: .2rem .5rem;
    font-size: .7rem;
}

.button-small {
    padding: .1rem .4rem;
    font-size: .6rem;
}

.button-big:hover, .button-medium:hover, .button-small:hover, .button-big:active, .button-medium:active, .button-small:active {
    text-shadow: 2px 2px 1px #444;
    outline: 0;
}

.test-case-button-small, .test-case-button-big {
    border: none;
    border-radius: 1rem/1rem;
    background: none;
    color: #ED1C24;
    font-weight: bold;
    transition: .3s text;
}

.test-case-button-small {
    font-size: .5rem;
}

.test-case-button-big {
    font-size: .8rem;
}

.test-case-button-big:hover, .test-case-button-small:hover, .test-case-button-big:active, .test-case-button-small:active {
    text-shadow: 1px 1px 1px #444;
    outline: 0;
}

.disabled {
    background: #888;
}

.disabled:hover {
    background: #888;
    text-shadow: none;
    cursor: default;
}

.bold {
    font-weight: bold;
}

.bigger {
    font-size: .9rem;
}

.font-green {
    color: #458B00;
}

.font-red {
    color: #ED1C24;
}

.font-grey {
    color: #888;
}