.app-title {
    text-align: center;
    font-size: 2rem;
    color: #888;
}

.app-header {
    position: fixed;
    width: 25%;
    top: 4%;
    right: 2%;
    text-align: right;
}

.app-header-logo {
    max-width: 75%;
    margin-bottom: 2%;
}

.app-header-menu-message {
    display: inline-block;
}

.app-header-menu-buttons {
    display: inline-block;
}

.app-title {
    margin: 1.5%;
    color: #888;
}

.page-title {
    margin-bottom: 1.5%;
    text-align: center;
    color: #888;
}