body {
    font: normal normal .8rem Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    background: #F5F5F5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4 {
    margin: 10px 0;
}

<<<<<<< HEAD
/*select, input[type=text] {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 1rem;*/
/*}*/

*:focus {
    outline: 0;
=======
select, input[type=text] {
    padding: .1rem;
>>>>>>> 86743a2e7527e865b3fd3e0c2b3b8a1516d7e7b4
}

.wrapper {
    width: 98%;
    margin: 0 auto;
    padding: 1%;
}

.noty-container {
    display: inline-block;
    position: fixed;
    width: 30%;
    left: 2%;
    top: 4%;
    z-index: 1000;
}

.noty-container span {
    color: #333;
    font-weight: bold;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}