.setup-page-container {
    width: 85%;
    margin: 0 auto;
}

.setup-users-form {
    display: inline-block;
    float: left;
    width: 55%;
    padding: 2% 2% 1% 1%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-right: 1px solid #aaa;
}

.setup-info {
    display: inline-block;
    float: right;
    width: 35%;
    padding: 2%;
    margin-top: 1%;
}

.setup-duration-form {
    display: inline-block;
    float: left;
    width: 98%;
    padding: 1%;
    border-top: 1px solid #aaa;
    text-align: center;
}

.setup-finalize-form {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.users-list-item-checkbox-label input[type=checkbox] {
    margin: .5rem .2rem;
}

.setup-algorithm {
    display: inline-block;
    margin-left: 2%;
}
