.login-form {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.login-form-header {
    font-size: 120%;
    margin-bottom: 5%;
}

.login-form-username {
    width: 90%;
    margin: 2% auto;
    padding: 2% 3%;
}

.login-form-password {
    width: 90%;
    margin: 2% auto 4% auto;
    padding: 2% 3%;
}

.login-form-button {
    padding: 1.5% 4.5%;
    border: none;
    transition: background .2s ease;
}

.login-form-button:hover {
    background: none
}

.user-menu {
    display: inline-block;
    position: fixed;
    width: 27.5%;
    right: 2%;
    top: 2%;
    z-index: 1000;
    background: #f9f9f9;
}

.user-menu-logout-form {
    float: right;
    vertical-align: middle;
}

.user-menu-greeting {
    display: inline-block;
    padding: 1%;
}

.user-menu-logout-button {
    display: inline-block;
    padding: 6.5%;
    margin: 0 2%;
}