<nav project-menu class="header-project-menu"></nav>

<div class="allocation-map-page-container clearfix" ng-show="data.loaded">
    <header class="page-title">
        <h3>Allocation map for project "{{data.project.name}}"</h3>
    </header>

    <article ng-if="data.config.isParked == 1">
        <p class="centered">
            Project execution is stopped. See days allocation page to resume execution or setup page to reset plan.
        </p>
    </article>

    <article class="test-cases" ng-if="data.config.isParked == 0">
        <ul class="test-cases-header">
            <li class="test-cases-header-empty"></li>
            <li class="test-cases-header-titles"><span>Test Case Title</span></li>
            <li class="test-cases-header-date"><span>Date</span></li>
            <li class="test-cases-header-user"><span>User</span></li>
            <li class="test-cases-header-status"><span>Status</span></li>
        </ul>
        <ul class="test-case-body" ng-repeat="testCase in mapData.testCases">
            <li class="test-case-body-button" expand-test-case-buttons></li>
            <li class="test-case-body-titles">
                <span ng-if="testCase.deleted == 1" class="line-through">{{testCase.testCaseTitle}}</span>
                <span ng-if="testCase.deleted == 0">{{testCase.testCaseTitle}}</span>
            </li>
            <li class="test-case-body-date" date-change></li>
            <li class="test-case-body-user" user-change></li>
            <li class="test-case-body-status" status-change></li>
            <li class="test-case-events" ng-if="testCase.events.length > 0 && testCase.expanded" test-case-events></li>
        </ul>
    </article>
</div>