<nav project-menu class="header-project-menu"></nav>

<div ng-show="data.loaded">
    <header class="page-title">
        <h3>Allocation map for project "{{data.project.name}}"</h3>
    </header>

    <article ng-if="data.config.isParked == 1">
        <p style="text-align:center;">
            Project execution is stopped. See days allocation page to resume execution or setup page to reset plan.
        </p>
    </article>

    <article ng-if="data.config.isParked == 0">
        <ul>
            <li></li>
            <li><p>Test Case Title</p></li>
            <li><p>Date</p></li>
            <li><p>User</p></li>
            <li><p>Status</p></li>
        </ul>
        <ul ng-repeat="testCase in mapData.testCases">
            <li expand-test-case-buttons></li>
            <li>
                <p ng-if="testCase.deleted == 1" style="text-decoration: line-through;">{{testCase.testCaseTitle}}</p>
                <p ng-if="testCase.deleted == 0">{{testCase.testCaseTitle}}</p>
            </li>
            <li date-change></li>
            <li user-change></li>
            <li ng-class="testCase.isFinal == 1 ? 'final' : 'non-final'" status-change></li>
            <li ng-if="testCase.events.length > 0 && testCase.expanded" test-case-events></li>
        </ul>
    </article>
</div>