<nav project-menu class="project-menu"></nav>

<div class="data-container">
    <p>Days allocation for project &quot;{{data.project.name}}&quot;</p>

    <div ng-repeat="day in daysData.allocatedDays">
        <span>Day {{day.dayIndex}}</span>
        <span>{{day.dayDate}}</span>

        <span>Allocated: {{day.allocatedTestCases}}</span>
        <span>Expected: {{day.expectedTestCases}}</span>
        <span style="color:orange;" ng-if="daysData.alerts[day.dayId]">&#9888;</span>
    </div>

    <hr>
    <form name="planExtensionForm">
        <p style="color:blue;">Plan extension</p>
        <div>
            <span>Choose reasons for extending the plan</span>
            <select ng-options="reason.name for reason in daysData.reasons track by reason.id"
                    ng-model="daysData.selectedReason" required></select>
            <button ng-click="addReason(daysData.selectedReason)">&#10133;</button>
        </div>

        <div>
            <span>Extension duration</span>
            <input type="number" placeholder="days" ng-model="daysData.extensionDuration" required min="1">
        </div>

        <div ng-if="daysData.extensionReasons.length">
            <div ng-repeat="reason in daysData.extensionReasons">
                <span>{{reason.name}}</span>
                <span><button ng-click="removeReason(reason)">&#10134;</button></span>
            </div>
        </div>

        <div ng-if="daysData.extensionDuration && daysData.extensionReasons.length">
            <button ng-click="extendPlan(daysData.extensionDuration)">Confirm</button>
        </div>
    </form>
</div>