<nav project-menu class="project-menu"></nav>

<div class="data-container" ng-show="data.loaded">
    <p>Days allocation for project &quot;{{data.project.name}}&quot;</p>

    <div ng-repeat="day in daysData.allocatedDays">
        <span>Day {{day.dayIndex}}</span>
        <span>{{day.dayDate}}</span>

        <span ng-if="day.period == 1">
            Executed: {{day.executed}},
            Expected:
            <span ng-if="day.blocked == 0">{{day.expected}}</span>
            <span ng-if="day.blocked > 0">{{day.expected}} - {{day.blocked}} (blocked) = {{day.expected - day.blocked}}</span>
        </span>
        <span ng-if="day.period == 2">
            Allocated: {{day.allocated}},
            Executed {{day.executed}},
            Passed {{day.passed}},
            Non-Final: {{day.nonFinal}},
            Expected:
            <span ng-if="day.blocked == 0">{{day.expected}}</span>
            <span ng-if="day.blocked > 0">{{day.expected}} - {{day.blocked}} (blocked) = {{day.expected - day.blocked}}</span>
        </span>
        <span ng-if="day.period == 3">
            Allocated: {{day.allocated}},
            Expected: {{day.expected}}
        </span>
        <span style="{{daysData.alerts[day.dayId]}}" ng-if="daysData.alerts[day.dayId]">&#9888;</span>
        <span ng-if="day.extension">/ Extension ( {{day.extension}} )</span>
        <span ng-if="day.reset">/ Configuration Reset ( {{day.reset}} )</span>
        <span ng-if="day.park">/ Park {{day.park}}</span>
    </div>

    <hr>

    <form name="planExtensionForm">
        <p style="color:blue;">Plan extension</p>
        <div>
            <span>Choose reasons for extending the plan</span>
            <div>
                <select ng-options="reason.description for reason in daysData.extReasons track by reason.id"
                        ng-model="daysData.selectedReason" required></select>
                <button ng-click="addReason(daysData.selectedReason)">Add</button>
            </div>
        </div>

        <div ng-if="daysData.extensionReasons.length">
            <div ng-repeat="reason in daysData.extensionReasons track by $index">
                <span ng-if="reason">
                    <span>{{reason.description}}</span>
                    <span>
                        <input type="number" placeholder="%" min="1" max="100" required
                               ng-model="daysData.extensionReasons[reason.id].percentage"
                               ng-change="calculateReasonsDuration()">
                    </span>
                    <span ng-if="reason.duration">Duration: {{reason.duration}}</span>
                    <span ng-if="!reason.duration">Duration: 0</span>
                    <span><button ng-click="removeReason(reason)">Remove</button></span>
                </span>
            </div>
        </div>

        <div>
            <span>Extension duration</span>
            <input type="number" placeholder="days" min="1" required
                   ng-model="daysData.extensionDuration"
                   ng-change="calculateReasonsDuration()">
        </div>

        <div ng-if="daysData.extensionDuration && daysData.canExtend">
            <button ng-click="extendPlan(daysData.extensionDuration)">Confirm</button>
        </div>

        <div ng-if="authentication.getUserData().role == 'admin'">
            <button ng-click="overrideConfiguration()">Override</button>
        </div>
    </form>
</div>