<nav project-menu class="project-menu"></nav>


<div class="data-container">

    <header>
        <p>Setting up project &quot;{{data.project.name}}&quot;</p>
    </header>

    <form name="usersForm">
        <div ng-repeat="user in setupData.allUsers">
            <label>
                <input type="checkbox" name="user" ng-checked="setupData.activeUsers[user.id]" ng-click="onUserSelect(user)">
                <span>{{user.username}}</span>
            </label>
            <label ng-if="setupData.activeUsers[user.id]">
                <span> - Index {{user.performanceIndex}} / Indicator (%) </span>
                <input type="number" name="userLoad" min="0" max="100" required
                       ng-model="setupData.activeUsers[user.id].loadIndicator"
                       ng-change="onUserTCPDChange(user.id, user.performanceIndex)">
            <span>
                <span ng-if="usersForm.$valid">TC/day&nbsp;{{setupData.activeUsers[user.id].performanceIndicator}}</span>
                <span ng-if="!usersForm.$valid">TC/day&nbsp;NA</span>
            </span>
            </label>
        </div>

        <div>
            <hr>
            <div>
                <p style="color:blue;">FYI</p>
                <p>Project unallocated test cases count {{setupData.unAllocatedTestCasesCount}}</p>
                <p>Project expired non-finalized test cases count {{setupData.expiredNonFinalTestCasesCount}}</p>
                <p>Test case per day tollerance {{setupData.acceptableTCPDDelta}}</p>
                <p>Duration tollerance {{setupData.acceptableSuggestedDurationDelta}} days</p>
            </div>
            <hr>
            <div>
                <p style="color:blue;">System calculated</p>
                <p>Executions per day based on given capacity {{setupData.expectedTCPD}}</p>
                <p>Suggested duration based on given capacity {{setupData.suggestedDuration}} days</p>
            </div>
            <hr>
            <div>
                <p style="color:blue;">User input</p>
                <p>Resulted executions per day based on user input {{setupData.actualTCPD}}</p>
                <label>
                    <span>Project duration</span>
                    <input type="number" ng-model="setupData.duration" step="0.1" min="1" required
                           ng-change="onDurationChange()">
                    <span>&nbsp;days</span>
                </label>
                <div>
                    <span>Test case allocation algorithm</span>
                    <label>
                        <p><input type="radio" name="algorithm" value="1"
                                  ng-model="setupData.algorithm">&quot;Fill days first&quot;</p>
                    </label>
                    <label>
                        <p><input type="radio" name="algorithm" value="2"
                                  ng-model="setupData.algorithm">&quot;Balanced&quot;</p>
                    </label>
                </div>
            </div>
            <hr>
        </div>

        <div ng-if="usersForm.$valid && setupData.planRenew == 1">
            <label>
                <span>Plan reset</span>
                <input type="checkbox" ng-model="setupData.planResetAccept">
            </label>
            <button ng-click="saveSetup()" ng-if="setupData.planResetAccept">Save</button>
        </div>
        <div ng-if="usersForm.$valid && setupData.planRenew == 0">
            <button ng-click="saveSetup()">Save</button>
        </div>
        <div ng-if="!usersForm.$valid">
            <button disabled>Invalid data</button>
        </div>
    </form>
</div>

