<nav project-menu class="project-menu"></nav>

<div class="data-container" ng-show="data.loaded">

    <header>
        <p>Setting up project &quot;{{data.project.name}}&quot;</p>
    </header>
    <form name="usersForm">
        <div ng-repeat="user in setupData.allUsers">
            <label>
                <input type="checkbox" name="user"
                       ng-disabled="setupData.existingPlan"
                       ng-checked="setupData.activeUsers[user.id]"
                       ng-click="onUserSelect(user)">
                <span>{{user.username}}</span>
            </label>
            <label ng-if="setupData.activeUsers[user.id]">
                <span> - Index {{user.performanceIndex}} / Indicator (%) </span>
                <input type="number" min="0" max="100" required
                       ng-disabled="setupData.existingPlan"
                       ng-model="setupData.activeUsers[user.id].loadIndicator"
                       ng-change="onUserTCPDChange(user.id, user.performanceIndex)">
                <span>
                    <span ng-if="usersForm.$valid">TC/day&nbsp;{{setupData.activeUsers[user.id].performanceIndicator}}</span>
                    <span ng-if="!usersForm.$valid">TC/day&nbsp;NA</span>
                </span>
            </label>
        </div>
    </form>

    <hr>

    <div>
        <div>
            <p style="color:blue;">FYI</p>
            <p>Project unallocated test cases count {{setupData.unAllocatedTestCasesCount}}</p>
            <p>Test case per day tollerance {{setupData.acceptableTCPDDelta}}</p>
            <p>Duration tollerance {{setupData.acceptableSuggestedDurationDelta}} days</p>
        </div>
        <hr>
        <div>
            <p style="color:blue;">System calculated</p>
            <p>Executions per day based on given capacity {{setupData.expectedTCPD}}</p>
            <p>Suggested duration based on given capacity {{setupData.suggestedDuration}} days</p>
        </div>
    </div>

    <hr>

    <form name="durationForm">
        <p style="color:blue;">User input</p>
        <p>Resulted executions per day based on user input {{setupData.actualTCPD}}</p>
        <label>
            <span>Project duration</span>
            <input type="number" ng-model="setupData.duration" step="0.1" min="1" required
                   ng-disabled="setupData.existingPlan"
                   ng-change="onDurationChange()">
            <span>&nbsp;days</span>
        </label>
        <div>
            <span>Test case allocation algorithm</span>
            <label><input type="radio" name="algorithm" value="1"
                          ng-disabled="setupData.existingPlan"
                          ng-model="setupData.algorithm">&quot;Fill days first&quot;</label>
            <label><input type="radio" name="algorithm" value="2"
                          ng-disabled="setupData.existingPlan"
                          ng-model="setupData.algorithm">&quot;Balanced&quot;</label>
        </div>
    </form>

    <hr>

    <form name="finalizeForm">
        <div ng-if="!setupData.existingPlan">
            <span ng-if="usersForm.$valid && !setupData.emptyUsersArray">
                <button ng-click="saveSetup()">Confirm</button>
            </span>
            <span ng-if="!usersForm.$valid || setupData.emptyUsersArray">
                <button disabled>Invalid data</button>
            </span>
        </div>

        <span ng-if="setupData.existingPlan">
            <span ng-if="setupData.unAllocatedTestCasesCount + setupData.expiredNonFinalTestCasesCount > 0 && data.config.isParked == 0">
                <button ng-click="saveSetup()">Allocate Test Cases</button>
            </span>
            <span ng-if="!setupData.planResetPrompt">
                <button ng-click="setupData.planResetPrompt = true" style="color:red;">Reset</button>
            </span>
            <span ng-if="setupData.planResetPrompt">
                <select ng-options="reason.description for reason in setupData.reasons track by reason.id"
                        ng-model="setupData.selectedReason" required></select>
                <input type="text" placeholder="Description" ng-model="setupData.selectedReason.explanation">
                <button ng-click="clearResetReasonChoice()" style="color:red;">NO</button>
                <button ng-if="setupData.selectedReason && setupData.selectedReason.explanation.length > 5"
                        ng-click="resetSetup()" style="color:green;">YES
                </button>
            </span>
        </span>
    </form>
</div>

